.App {
  text-align: center;
  /* background-color: blue */
}

.info{
  display:flex;
  width: 100vw;
  /* background-color:green; */
}

.people{
  width: 40vw;
}

.classes{
  width: 60vw;
}

.createStudent{
  position: absolute;
  bottom: 0;
}